/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2017, 12:39:52 PM
    Author     : Stiven
*/

.titulo
{
margin-top: 50px;
margin-bottom: 30px;
margin-left: 30%;
margin-right: 30%;
text-align: center;
}
.titulo hr
{
 width: 100%;
 height: 2.5px;
 background: #111111;
}
p
{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 30px;
    font-style:  normal;
}
.imagen
    {
    margin-left: 10%;
    width: 80%;
    height: 40%;
    margin-right: 10%;
    margin-top: 10px;
   /* border: 1px solid  #111111;*/
    margin-bottom: 30px;
    }
.imagen img
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height:100%;
}

.info-evento
{
    width:80%;
    height: 56px;
    margin-left: 10%;
    margin-right: 10%;
}

.nav-bar
{
    position: relative;
    width: 80%;
    height: 100%;;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}
.nav-bar  ul
{
    list-style: none;
    padding: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    list-style: none;    
    display: inline;
    margin-top:2px; 
}
.nav-bar span ul li
{
    padding: 1px;
    width: 16%;
    color: black;
    height:50%;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: Roboto;
    padding: 14px 16px;
    float: left;

}
.info{
    background: blueviolet;
    
}
.data{
    background: purple
}
.info:hover{
    background: black;
    color:white;
    font-size: 1em;
}
.data:hover
{
   background: black;
   color:white;
   font-size: 1.5em; 
}
.asistir
{
    color: #fff;
    background-color: #12AFAF;
    border-color: transparent;
    display: block;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 1.2em;
    text-decoration: none;
    height: 100%;
    width:100%;
}
.asistir:hover,
.asistir:focus,
.asistir:active:hover {
  background-color: black;
  color:white;
  border-color: transparent; 
 font-size: 1.3em;}
